doctype html
html(lang = "ru")
  head
    title Заголовок страницы
    meta(charset = "utf-8")
    meta(http-equiv = "Content-Type", content = "text/html")
    meta(name = "author", content = "Bogdanov D.D.")
    meta(name = "keywords", content = "")
    meta(name = "description", content = "")
    link(rel="stylesheet", href="css/main.css")
  body
    header
  block content