
section
    h1 Поклейка обоев в Новосибирске
    .price-block
      .price-block-text
        s
          span 150 руб./м
          sup 2
        .price 
          strong 129
          =" "
          | руб./м
          sup 2
        .date до 17 сентября 2017 года
    ul 
      li Бесплатный замер
      li Гарантия 2 года
      li Без предоплаты
    form
      input(type="text" placeholder="  Ваш телефон")
      button(type="submit" name="Send") Заказать замер